body {
  margin: 0;
  overflow: hidden; /* JavaScriptでスクロールを制御するため */
  overflow-x: hidden;
}
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
 @media(max-width: 767px){
  section {
    height: auto;
    width: 100%;
  }
  #section1 {
      min-height: calc(100vh - 48px); /* ヘッダーの高さを考慮して画面いっぱいに */
  }
  #section1_1{
    padding: 50px auto;
    min-height: 500px;
  }
  /* コンテンツを持つセクションに適切な余白を設定 */
  #section2,
  #section2_2,
  #section2_3,
  #section2_4,
  #section3,
  #section4 {
    padding: 0 auto; /* 上下に余白を追加 */
    min-height: 0; /* 他のセクションのmin-heightをリセット */
  }
} 
section {
  text-align: center;
  justify-content: center;
}
#section1 { background-color: #fff; }
#section1_1 { background-color: #fff; }
#section2 { background-color: #fff; }
#section2_2, #section2_3, #section2_4 { background-color: #eceef4; }
#section3 { background-color: #eceef4; }
#section4 {
  background-color: #fff;
  height: auto;
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}

.inner-space {
  width: 90vw;
  /* min-width: 700px; */
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  z-index: 10;
}


.section-inner1 {
  height: 100%;
  padding: 0 auto;
  color: black;
}
.section-inner1_1 {
  height: 100%;
  padding: 0 auto;
  color: black;
}

.section-inner2 {
  background-color: #eceef4;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 0 ;
  border-radius: 80px 80px 0 0;
  z-index: 15;
}
.section-inner2_2,
.section-inner2_4 {
  background-color: #eceef4;
  height: 100%;
  width: 100%;
  padding: 0 auto;
  padding-top: 10vh;
}
.section-inner2_3 {
  background-color: #eceef4;
  height: 100%;
  width: 100%;
  padding: 0 auto;
  padding-top: 16vh;
}
.section-inner3 {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 auto;
  border-radius: 80px 80px 0 0;
  z-index: 15;
  position: relative;
}
.section-inner4 {
  background-color: #141e53;
  height: auto;
  min-height: 100%;
  width: 100%;
  padding: 0 auto;
  border-radius: 80px 80px 0 0;
}

@media (max-width: 1023px) {
  .section-inner2,
  .section-inner3,
  .section-inner4 {
    border-radius: 60px 60px 0 0;
    position: relative;
  }
  .section-inner2_2,
  .section-inner2_3,
  .section-inner2_4 {
    position: relative;
    display: block;
    padding-top: 10px;
  }
  .section-inner3 {
    padding-bottom: 100px;
  }
  .section-inner2_4 {
    padding-bottom: 40px;
  }
  .section-inner2_3 {
    padding-top: 0;
  }
}


/*スクロールダウンアニメーション*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down{
  position:fixed;
  bottom: 40vh;
  right: 50px;
  z-index: 40;
}

.scroll_down a{
  position: absolute;
  left: 10px;
  bottom: 90px;
  color: #141e53;
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2em;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 40;
}

.scroll_down:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background:#141e53;
  animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove{
  0%{bottom:80px;}
  100%{bottom:0px;}
}

@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}

.scroll_down:after{
  content:"";
  position: absolute;
  bottom:0;
  left:20px;
  width:2px;
  height: 80px;
  background:#141e53;
}

/* 2ページ目以降で色を白にするためのスタイル */
.scroll_down.is-scrolled a {
  color: white;
}
.scroll_down.is-scrolled:before {
  background: white;
}
.scroll_down.is-scrolled:after {
  background: white;
}

/* ページ最下部で非表示にするためのスタイル */
.scroll_down.is-hidden {
  opacity: 0;
  pointer-events: none; /* 要素をクリックできなくする */
  transition: opacity 0.4s ease; /* スムーズにフェードアウトさせる */
}

.section-inner2,
.section-inner3, 
.section-inner4,
.section-inner2_2,
.section-inner2_3,
.section-inner2_4  {
  transform: translateY(110px);
}

@media (max-width:767px) {
  .section-inner2,
  .section-inner3, 
  .section-inner4,
  .section-inner2_2,
  .section-inner2_3,
  .section-inner2_4  {
    transform: none;
  }
}


/* .slideIn1, .slideIn2, .slideIn3, .slideIn4 {
  opacity: 0;
  transform: translateY(10vh);
  transition: opacity 0.5s, transform 1s;
}

.slideIn1 {
  transition-delay: 0.6s;
}
.slideIn2 {
  transition-delay: 0.8s;
}
.slideIn3 {
  transition-delay: 1s;
}
.slideIn4 {
  transition-delay: 1.2s;
} */



/* 表示された時のスタイル（アニメーションの「最終地点」） */
/* .slideIn1.is-visible,
.slideIn2.is-visible,
.slideIn3.is-visible,
.slideIn4.is-visible {
  transform: translateY(0); 
  opacity: 1; 
}*/

/*ナビゲーションエリア*/

.subNavArea {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;  
  align-items: center;
  position: fixed;
  background-color: #ffffffd4;
  z-index: 65;
  top: 60px;
}
.subNavArea .subNavTitle {
  display: block;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  margin-left: 50px;
}
.site-menu ul {
  display: flex;
}
.site-menu ul li {
  margin: auto 20px;
  margin-top: 4px;
  font-size: 11px;
  font-weight: bold;
}
@media (max-width: 1023px) {
  .subNavArea {
    top: 45px;
  }
}
@media (max-width: 767px) {
  .subNavArea {
    height: 40px;
  }
  .subNavArea .subNavTitle {
    font-size: 15px;
    margin-left: 20px;
  }
  .site-menu ul li {
    margin: auto 10px;
    font-size: 10px;
  }
}
.site-menu a:hover {
  color: #5e5e5e;
}
.subNavTitle:hover {
  color: #5e5e5e;
}

/*　MVエリア　*/

/* .mv-area {
  position: absolute;
  justify-content: center;
  display: flex;
  top: 14vh;
  height: 77%;
  min-height: 300px;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 16 / 9;
} */
.mv-area {
  position: absolute;
  justify-content: center;
  display: flex;
  top: 14vh;
  height: 75%;
  min-height: 300px;
  top: 15%;
  width: 100vw;
  min-width: 900px;
  max-height: 77%;
  min-height: 300px;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 16 / 9;
  background-color: #eb3056;
}
.mv-area video {
  display: flex;
  position: relative;
  height: 100%;
  width: 110%;
  object-fit: cover;
}
.mv-area .mv_pc {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mv-text-wrap {
  position: absolute;
  width: 100vw;
  top: 10vh;
}
.mv-text {
  position: absolute;
  display: flex;
  text-align: start;
  left: 60px;
  top: 30%;
}
.mv-text h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 80px;
}

/* .ctaArea {
  width: 100vw;
  max-width: 1080px;
  height: 20%;
  bottom: 0;
  position: absolute;
  text-align: center;
  display: flex;
} */

.ctaArea {
  width: 100vw;
  height: 20%;
  bottom: 0;
  position: absolute;
  text-align: center;
  display: flex;
}
.ctaArea ul {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 40px 60px;
  bottom: 0;
}

.ctaArea li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background-color: #EB3155;
  width: 203px;
  height: auto;
  padding: 10px 0;
  margin-right: 20px;
  border-radius: 25px;
}
.ctaArea a {
  font-size: 12px;
  color: white;
}

.cta-btn:hover .arrow {
  transform: translate(8px, 3px);
  transition: 0.2s;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 15.3px;
  height: 8px;
  transform: translateX(8px);
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 1px);
  width: 2px;
  height: 8px;
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: 50% calc(100% - 1px);
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  transform: rotate(-45deg);
}

.logo-area {
  position: absolute;
  bottom: 2vh;
  /* position: relative;
  top: 80%; */
  height: 6vh;
  width: 100%;
  object-fit: contain;
  left: 0;
  overflow: hidden;
}
.logo-area-wrap {
  height: 100%;
  display: flex;
}
.logo-list {
  display: flex;
  align-items: center;
}


@keyframes logoScroll {
from {
  transform: translateX(0);
}
to {
  transform: translateX(-100%);
}
}
.logo-list {
  animation: logoScroll 80s infinite linear 0.5s both;
  animation-direction: reverse;
  flex-shrink: 0;
}
.logo-list li {
  padding: 0 40px;
}
.logo-list li img {
  height: 8vh;
  width: auto;
  object-fit: contain; /* 念のため追加 */
}

@media (max-width: 767px) {
  .mv-area {
    top: 15vh;
    width: 100%;
    height: auto;
    min-height: none;
  }
  .mv-text {
    position: absolute;
    display: flex;
    text-align: start;
    left: 20px;
    top: 10%;
  }
  .mv-text h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
  }
  .ctaArea {
    width: 100vw;
    height: 20%;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    top: 500px;
  }
  .ctaArea ul {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px 10px;
    bottom: 0;
  }
  .ctaArea li {
    display: inline-block;
    vertical-align: middle;
    background-color: #EB3155;
    width: 120px;
    height: 35px;
    padding: 3px;
    margin: auto 3px;
    border-radius: 25px;
  }
  .ctaArea a {
    font-size: 8px;
  }
  .arrow {
    display: none;
  }
  .logo-area {
    position: absolute;
    bottom: 2vh;
    /* position: relative;
    top: 80%; */
    height: 6vh;
    width: 100%;
    object-fit: contain;
    left: 0;
  }
  .logo-area-wrap {
    height: 100%;
    display: flex;
  }
  .logo-list {
    display: flex;
    align-items: center;
  }
}


/*　タグラインエリア　*/

.taglineArea {
  width: 100%;
  position: relative;
  display: flex;
  top: 40vh;
  text-align: start;
  justify-content: space-between;
}
.taglineTitle {
  width: clamp(380px, 49vw, 700px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
}
.taglineArea h1 {
  display: inline-block;
  /* font-size: 3vw; */
  font-size: clamp(24px, 3vw, 39px);
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
  padding: 0 1vw;
}

.taglineText {
  width: clamp(280px, 36vw,480px);
  text-align: start;
  transform: translateY(-1vh);
}
.taglineText p {
  font-size: clamp(11px, 1.2vw, 15px);
  font-weight: bold;
  line-height: clamp(27px, 3vw, 36px);
  color: #141e53;
}

@media (max-width: 767px) {
  /* taglineAreaのレイアウトを縦並びに変更し、子要素を中央揃えにします */
  .taglineArea {
    flex-direction: column;
    align-items: center;
    top: 10px; /* 上からの位置を調整 */
    gap: 40px; /* タイトルとテキストの間のスペース */
  }

  /* taglineTitleコンテナの幅を調整します。
     親要素によって中央揃えになりつつ、中のh1要素同士は左揃えが維持されます */
  .taglineTitle {
    width: 90%;
    margin: 0 auto;
  }

  /* taglineTextコンテナの幅を調整し、位置をリセットします。
     親要素によって中央揃えになりつつ、中のテキストは左揃えが維持されます */
  .taglineText {
    width: 90%;
    transform: translateY(0);
  }
  .taglineText p {
    font-size: 14px;
  }
  .taglineArea h1 {
    font-size: clamp(20px, 5vw, 39px);
  }
}


/*　タグラインエリア　アニメーション　*/

.slideIn1 .slideIn-wrap {
  position: relative;
  display: inline-block;
}
.slideIn1.is-visible .slideIn-wrap::before {
  background: none;
  animation-delay: 2s;
}

.slideIn1.is-visible .slideIn-wrap:first-child::before {
  animation: slideIn 8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s both;
  background: linear-gradient(90deg, #eb3056, #6b38a6 50%, #172059);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}
.slideIn1.is-visible .slideIn-wrap:nth-child(2)::before {
  animation: slideIn 8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s both;
  background: linear-gradient(90deg, #eb3056, #853695);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}
.slideIn1.is-visible .slideIn-wrap:last-child::before {
  animation: slideIn 8s cubic-bezier(0.22, 1, 0.36, 1) 0.8s both;
  background: linear-gradient(90deg, #eb3056, #843696 50%, #19215e);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}
.slideIn1 .slideIn-wrap .inn {
  color: #fff;
  /* font-size: clamp(24px, 3vw, 39px); */
  display: inline-block;
  position: relative;
  z-index: 1;
}
 
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scaleX(0) translateX(-5%);
  }
  30% {
    transform: scaleX(1) translateX(0);
  }
  100% {
    transform: scaleX(1) translateX(0);
  }
  30%, 100% {
    opacity: 1;
  }
}

/* .slidein1.is-visible .slideIn-wrap::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #eb3056, #6b38a6 50%, #172059);
  transition: 1s;
} */

@media (max-width: 767px) {
  .slideIn1.is-visible .slideIn-wrap::before {
    animation-delay: 0.5s;
  }
  .slideIn1.is-visible .slideIn-wrap:first-child::before {
    animation: slideIn 8s cubic-bezier(0.22, 1, 0.36, 1) 0.2s both;
  }
  .slideIn1.is-visible .slideIn-wrap:nth-child(2)::before {
    animation: slideIn 8s cubic-bezier(0.22, 1, 0.36, 1) 0.2s both;
  }
  .slideIn1.is-visible .slideIn-wrap:last-child::before {
    animation: slideIn 8s cubic-bezier(0.22, 1, 0.36, 1) 0.2s both;
  }
}



/*セクションタイトル*/

.sectionTitle {
  color: #141e53;
  display: flex;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sectionTitle h2 {
  color: #141e53;
  font-weight: 600;
  font-size: 5vh;
  line-height: 4vh;
}
.sectionTitle .rubby {
  font-size: 1.4vh;
  font-weight: bold;
}
@media (max-width: 767px) {
  .sectionTitle {
    padding-top: 40px;
  }
  .sectionTitle h2 {
    font-size: 4.4vh;
    line-height: 4vh;
  }
}


/*カテゴリー*/

.category {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: clamp(12px, 1.4vh, 14px);
}
.category h3 {
  color: #fff;
  padding: 10px 20px;
  background-color: #EB3155;
  border-radius: 20vw;
  font-weight: bold;
}
.category p {
  padding: 0 30px;
  font-weight: bold;
}
.section-inner2 .category {
  margin: 4vh 0;
}

@media (max-width: 767px) {
  .category {
    position: relative;
    display: block;
    justify-content: left;
    text-align: left;
    font-size: 3.6vw;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .category h3 {
    color: #fff;
    padding: 5px 20px;
    background-color: #EB3155;
    border-radius: 20vw;
    font-weight: bold;
    display: inline-block;
  }
  .category p {
    padding: 8px 0 0 0;
    font-weight: bold;
  }
  .section-inner2 .category {
    margin-top: 40px;
    margin-bottom: 0;
  }
}


/* 画像 */

.container {
  display: flex;
}
.products {
  width: 100%;
  position: relative;
  z-index: 45;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.imgBox {
  width: 42vw;
  max-width: 512px;
  min-width: 330px;
  border-radius: 2vw;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}
.imgBox.unprepared {
  background-color: #141E53CC;
}
.imgBox img {
  width: 100%;
  transition: 0.4s
}

.imgBox:hover a {
  img{transform: scale(1.06);
  transition: 0.4s;
  animation-delay: 0;}
}
.imgBox:hover a {
  opacity: 0.7;
}
.imgBox.unprepared:hover a {
  opacity: 0.1;
}
.ComingSoon {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(24px, 3vw, 40px);
  opacity: 0;
  transition: 0.4s;
  font-weight: 100;
}
.imgBox.unprepared:hover .ComingSoon {
  opacity: 1;
  transition: 0.4s;
}


.section-inner2_2 .products,
.section-inner2_4 .products {
  margin-top: 40px;
}
.section-inner2_3 .products {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .container {
    display: block;
    justify-content: none;
    align-items: center;
  }
  .products {
    width: 100%;
    position: relative;
    z-index: 45;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .imgBox {
    width: 100%;
    aspect-ratio: 1.5 / 0.9;
  }
  .section-inner2 .products,
  .section-inner2_2 .products,
  .section-inner2_3 .products,
  .section-inner2_4 .products {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .section-inner2_3 .products {
    margin-top: 0px;
  }
}


/* 画像タグエリア */

.imgTagArea {
  display: flex;/* 中の要素を横並びにする */
  align-items: flex-start;/* 要素を上揃えにする */
  justify-content: space-between;
}
.imgTitle {
  display: flex;
  flex-direction: column; /* 中の要素を縦積みにする */
  align-items: flex-start; /* 要素を左揃えにする */
  width: 42vw;
  max-width: 512px;
  min-width: 330px;
}
.imgTag {
  display: flex;         /* Gridの代わりにFlexboxを使用 */
  flex-wrap: wrap;       /* 要素がコンテナの幅を超えたら折り返す */
  gap: 8px 12px;         /* タグ間の隙間を指定 */
  margin-top: 10px;      /* 上の要素との間に余白を追加 */
  width: 100%;
}

/* 個々のタグのスタイル（見た目を整えるため） */
.imgTag a {
  display: inline-block;
  padding: 2px 8px;
  font-size: 11px;
  color: #fff;
  background-color: #141e53;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap; /* タグ内で文字が改行しないようにする */
  text-align: center;
  font-size: clamp(10px, 1vh, 14px);
}

.imgTitle h4 {
  font-size: clamp(12px, 1.6vw, 20px);
  color: #141e53;
  font-weight: bold;
  margin-top: 2vh;
  text-align: left;
}
.imgTitle p {
  font-size: clamp(8px, 1vw, 12px);
}
@media (max-width: 767px) {
  .imgTitle h4 {
    margin-top: 15px;
    font-size: 18px;
  }
  .imgTitle p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 10px;

  }
  .imgTitle {
    width: 100%;
  }
  .imgTag {
    margin-top: 5px;
    gap: 4px 5px;
  }
}


/*　開発実績　*/

.lineupslide-area {
  position: absolute;
  top: 30vh;
  height: 40vh;
  width: 100%;
  overflow: visible;
  left: 0;
}
/*ulの一つ上*/
.lineupslide-warap {
  height: 100%;
  display: flex;
}
/*ul*/
.lineupslide {
  display: flex;
  align-items: center;
}


@keyframes logoScroll2 {
from {
  transform: translateX(0);
}
to {
  transform: translateX(-100%);
}
}
.lineupslide {
  animation: logoScroll2 50s infinite linear 0.5s both;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  animation-direction: reverse;
}
.lineupslide li {
  width: 300px; /* 例: 幅を540pxに指定 */
  height: 360px; /* 例: 高さを360pxに指定 */
  padding: 20px; /* 内側の余白 */
  box-sizing: border-box; /* paddingとborderをwidthとheightに含める */
  border-radius: 12px; /* 角丸のデザイン（任意） */
  margin: 0 20px; /* li同士の間隔を調整 */
}

/* .lineupslide内のaタグをliの高さ一杯に広げ、フレックスコンテナとして設定 */
.lineupslide li > a {
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  height: 100%;
  width: 100%;
  text-decoration: none; /* リンクの下線を削除 */
  color: inherit; /* 親要素の文字色を継承 */
}


/* 画像を囲む.thumbコンテナが、利用可能な残りのスペースをすべて埋めるように設定 */
.lineupslide .thumb {
  width: 100%; /* liの幅に合わせる */
  height: 70%; /* liの高さの70%を画像エリアに */
  overflow: hidden;
  border-radius: 8px; /* 画像の角を丸くする（任意） */
  flex-grow: 0; /* flex-growは不要なためリセット */
}

/* 画像が.thumbコンテナを覆うように設定し、アスペクト比を維持 */
.lineupslide .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* アスペクト比を保ったまま、コンテナ全体を覆う。画像の一部が切り取られることがあります。 */
  border-radius: 10px;
}

/* テキストエリアが縮まないように設定 */
.lineupslide .textarea {
  height: 30%; /* liの高さの残りの30%をテキストエリアに */
  padding-top: 15px; /* 画像との間の余白 */
  box-sizing: border-box;
}
.lineupslide .textarea .label {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.lineupslide .textarea .text {
  font-size: 12px;
  text-align: left;
}

.load-more-btn {
  display: none; /* デフォルトでは非表示 */
  margin: 20px auto 0;
  padding: 10px 40px;
  background-color: #141e53;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.3s;
  box-shadow: 0 3pt 6pt #00000029;
}
.load-less-btn {
  display: none; /* デフォルト（PC表示）では両方のボタンを非表示 */
  margin: 20px auto 0;
  padding: 5px 40px;
  background-color: #fff;
  border: solid 1px;
  border-color: #141e53;
  color: #141e53;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.3s;
  box-shadow: 0 3pt 6pt #00000029;
}

.plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 14px;
  padding: 0;
}
.plus:before, .plus:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
.plus:before {
  width: 1px;
  height: 15px;
  left: 0.5em;
}
.plus:after {
  width: 15px;
  height: 1px;
}

.minus {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 14px;
  padding: 0;
}
.minus:after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #141e53;
  width: 14px;
  height: 1px;
}

.load-more-btn:hover {
  opacity: 0.7;
}

.view-more-link {
  position: absolute;
  bottom: -20%;
  left: 60px;
  z-index: 20; /* スクロールする実績より手前に表示 */
  color: #eb3056;
  font-weight: 500;
  padding: 12px 35px;
  text-decoration: none;
}
.arrow-side {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 1px;
  margin: 4px 4px;
  border-radius: 9999px;
  background-color: #eb3056;
  transition: 0.3s;
}

.arrow-side::before,
.arrow-side::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.2px);
  right: 0;
  width: 4px;
  height: 1px;
  border-radius: 9999px;
  background-color: #eb3056;
  transform-origin: calc(100% - 0.5px) 50%;
}

.arrow-side::before {
  transform: rotate(45deg);
}

.arrow-side::after {
  transform: rotate(-45deg);
}

.view-more-link:hover .arrow-side {
  transform: translateX(10px);
}

@media(max-width: 767px) {
  .section3 {
    display: flex;
    align-items: center;
  }
  .lineupslide-area {
    height: auto;
    position: relative;
    top: 10px;
  }
  .lineupslide-warap {
    justify-content: center;
  }
  .lineupslide.disappear {
    display: none;
  }
  .lineupslide {
    animation: none;
    display: flex;
    flex-direction: column; /* リスト項目を縦に並べる */
    align-items: center;   /* 項目を水平方向に中央揃えする */
    padding: 0;            /* ulのデフォルトパディングを削除 */
  }
  .lineupslide li {
    margin-bottom: 25px; /* 縦に並んだ項目間のスペースを追加 */
    width: 100%;
    height: auto;
    aspect-ratio: 1.4 / 1;
  }
  .lineupslide-warap {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  /* モバイル時にボタンを表示 */
  .load-more-btn {
    display: inline-block;
  }

  /* 3つ目以降のliを最初は非表示に */
  .lineupslide li.mobile-hidden {
    display: none;
  }

  /* is-expandedクラスが付いたら、非表示のliを表示 */
  .lineupslide-warap.is-expanded .lineupslide li.mobile-hidden {
    display: block; /* もしくは flex など、元のレイアウトに合わせてください */
  }

  /* is-expandedクラスが付いたら、ボタンを非表示に */
  .lineupslide-warap.is-expanded .load-more-btn {
    display: none;
  }
  .lineupslide-warap.is-expanded .load-less-btn {
      display: inline-block;
  }

  /*ホバー*/

  .lineupslide .thumb {
    position: relative; 
  }

  .lineupslide .thumb::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 8px;
    opacity: 0; 
    transition: opacity 0.3s ease;
  }

  .lineupslide a:hover .thumb::before {
    opacity: 1;
  }

  .view-more-link {
    position: static;
    display: none; /* 初期状態では非表示 */
    margin: 0 10px 0 auto;
    padding-right: 5px;
    text-align: right;
    width: 90%;
    max-width: 300px;
  }
}

/*ホバー*/

.lineupslide .thumb {
  position: relative; /* ::beforeを絶対位置で配置するための基準にします */
}

/* 2. .thumbに重ねる半透明の白いレイヤー(::before)を作成 */
.lineupslide .thumb::before {
  content: ''; /* 疑似要素には必須のプロパティ */
  position: absolute; /* 親要素(.thumb)を基準に配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* 40%の半透明の白 */
  border-radius: 8px; /* 親要素の角丸に合わせる */

  opacity: 0; /* 通常時は非表示（透明）にする */
  transition: opacity 0.3s ease; /* 0.3秒かけてフワッと表示する */
}

/* 3. a要素をホバーした時に、白いレイヤーを表示する */
.lineupslide a:hover .thumb::before {
  opacity: 1; /* ホバー時に表示（不透明）にする */
}




/* MOREボタンクリック後に表示 */
.lineupslide-warap.is-expanded .view-more-link {
  display: block;
}

/*コンタクトエリア*/

.section-inner4 {
  color: #fff;
}
.section-inner4 .sectionTitle h2 {
  color: #fff;
}
.contact-area {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  gap: 80px;
  margin-top: 40px;
  padding-bottom: 50px;
  min-width: 700px;
}
.contact-left {
  width: 40%;
  text-align: left;
}
.contact-left p {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 1.5vw;
  font-size: clamp(11px, 1.5vw, 18px);
}
.contact-right {
  width: 50%;
  text-align: left;
  min-width: 250px;
}

.contact-img {
  content: "";
  width: 100%;
  height: 600px;
  background-image: url(../img/img_contact.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media(max-width: 767px) {
  .contact-left {
    width: 100%;
    text-align: left;
  }
  .contact-img {
    content: "";
    width: 80vw;
    height: 50px;
    background-image: url(../img/img_contact_mini.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  
  /*コンタクトエリア モバイル*/

  .section-inner4 {
    color: #fff;
  }
  .section-inner4 .sectionTitle h2 {
    color: #fff;
  }
  .contact-area {
    display: flex;
    flex-direction: column; /* 左右のセクションを縦に並べる */
    align-items: center;   /* フォームエリアを中央に配置 */
    margin-top: 30px;
    gap: 40px; /* 縦積みに合わせて間隔を調整 */
    padding-bottom: 50px;
    min-width: 0; /* モバイル表示のために最小幅を解除 */
  }
  .contact-left, .contact-right {
    width: 100%; /* 小さい画面用に幅を調整 */
    min-width: 0;
  }
  
  .contact-left p {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 14px;
  }

  input, select {
    margin-bottom: 20px; /* フォーム要素のマージンを縮小 */
  }
  
  footer {
    margin-top: 120px;
    display: block;
    background-color: #fff;
    width: 100%;
  }
}

input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px;
}
select {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: black;
  border-radius: 5px;
  appearance: none;
  background-image: url("../img/common/arrow_down_gray.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: right 10px center;
}
input:focus {
  background-color: #eceef4;
}
select:focus {
  background-color: #eceef4;
}
.question {
  height: 150px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.required {
  color: red;
  background-color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 2px;
  margin-left: 10px;
}
.sent {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  transition: 0.4s;
}
.sent:hover {
    background-color: #141e53;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.4s;
}


footer {
  margin-top: 120px;
  display: block;
  background-color: #fff;
  width: 100%;
}