@charset "utf-8";
/*--------------------------------------
  0.Reset
--------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
}
sub, sup {
	font-size: 50%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
}
input, select {
	vertical-align: middle;
}
img {
	border: none;
	vertical-align: middle;
}
* {
	box-sizing: border-box;
}
body {
	height: 100%;
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 1;
}
a {
	color: #333;
	text-decoration: none;
}
a.btn {
	cursor: pointer;
}
#ailia_wrapper {
	font-family: "Noto Sans JP", Rubik, Montserrat, sans-serif;
}
#ailia_wrapper * {
	box-sizing: border-box;
	vertical-align: top;
}
#ailia_wrapper img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.hide {
	display: none;
}
/*----clearfix----*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font-size: 0.01em;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px; /*\*/ /*/
  height: auto;
  overflow: hidden;
  /**/
}
/* PC */
@media screen and (min-width:768px) {
	.sp {
		display: none;
	}
	.pc {
		display: block;
	}
}
/* SP */
@media screen and (max-width:767px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
#ailia_wrapper input {
	font-size: 16px;
}
	#ailia_wrapper input::placeholder {
	font-size: 14px;
}
}