@media screen and (min-width:768px) {
	#ailia_wrapper {
		min-width: 1000px;
		margin: 0 auto;
		margin-top: 60px;
	}
	/* HEADER */
	
	#head02 {
		position: fixed;
		top: 70px;
		left: 0;
		width: 100%;
		height: 80px;
		z-index: 10;
	}
	#head02 .headinner {
		padding: 15px 100px 15px 15px;
		min-width: 960px;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}
	#head02 .head02nav {
		display: flex;
		justify-content: flex-end;
	}
	#head02 .nav0201 {
		padding: 20px 0 0 0;
		margin: 0 40px 0 0;
	}
	#head02 .nav0201 a {
		display: block;
		font-size: 14px;
		font-weight: bold;
		color: #000;
		background: url("../img/headlink_arrow.png") no-repeat left center;
		background-size: 12px auto;
		padding: 0 0 0 20px;
		transition: 0.2s;
	}
	#head02 .nav0201 a:hover {
		color: #888;
	}
	#head02 .navbtn0201 {
		width: 150px;
		margin: 0 20px 0 0;
	}
	#head02 .navbtn0201 .btntext {
		display: block;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		font-size: 10px;
		padding: 0;
		margin: 0 0 5px 0;
	}
	#head02 .navbtn0201 a {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		background: #fff;
		font-size: 12px;
		padding: 8px 10px;
		border: 2px solid #00BBE0;
		border-radius: 5px;
		transition: 0.2s;
	}
	#head02 .navbtn0202 {
		width: 150px;
	}
	#head02 .navbtn0202 .btntext {
		display: block;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		font-size: 10px;
		padding: 0;
		margin: 0 0 5px 0;
	}
	#head02 .navbtn0202 a {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: #fff;
		background: #00BBE0;
		font-size: 12px;
		padding: 8px 10px;
		border: 2px solid #00BBE0;
		border-radius: 5px;
		transition: 0.2s;
	}
	#head02 .head02btn {
		position: absolute;
		top: 0;
		right: 15px;
		width: 80px;
		text-align: center;
		font-weight: bold;
		background-color: transparent;
		font-size: 10px;
	}
	#head02 .head02btn a {
		display: block;
		cursor: pointer;
		color: #00BBE0;
		padding: 60px 0 0 0;
		background: url("../img/nav02_btn.png") no-repeat center center;
		background-size: 60px auto;
	}
	/* MV */
	#mv .mvinner {
		min-width: 1000px;
		max-width: 1300px;
		margin: 0 auto;
		padding: 90px 20px 0 20px;
		position: relative;
		display: flex;
	}
	#mv .mvinner .mvtext {
		width: 45%;
		padding: 0 10px 0 0;
	}
	#mv .mvinner .mvtext .mvtext01 {
		color: #00BBE0;
		font-weight: bold;
		font-size: 22px;
		margin: 0 0 15px 0;
		white-space: nowrap;
	}
	#mv .mvinner .mvtext .mvtext02 {
		font-weight: bold;
		font-size: 34px;
		line-height: 1.8;
		margin: 0 0 25px 0;
		letter-spacing: 0.05em;
	}
	#mv .mvinner .mvtext .mvlogo {
		max-width: 500px;
		margin: 0 0 40px 0;
	}
	#mv .mvinner .mvtext .mvtext03 {
		font-size: 18px;
		line-height: 2.2;
	}
	#mv .mvinner .mvpic {
		width: 55%;
		padding: 10px 0 0 0;
	}
	#mv .mvbtn {
		width: 780px;
		max-width: 1300px;
		margin: 80px auto 150px auto;
		text-align: center;
	}
	/* CPBTN */
	.cpbtn .btnset {
		display: flex;
		justify-content: space-between;
	}
	.cpbtn .btnbox {
		width: 380px;
	}
	.cpbtn .btntext {
		display: block;
		width: 100%;
		text-align: center;
		color: #00BBE0;
		font-size: 18px;
		padding: 0;
		margin: 0 0 15px 0;
	}
	.cpbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #000;
		background: #fff;
		letter-spacing: 0.1em;
		font-size: 16px;
		padding: 25px 25px 25px 40px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	.cpbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 34px;
		height: 34px;
		background: url("../img/btnicon_arrow01.png") no-repeat center center;
		background-size: 34px auto;
	}
	.cpbtn .btn02 a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.1em;
		background: #00BBE0;
		font-size: 18px;
		padding: 25px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	.cpbtn .btn02 a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 34px;
		height: 34px;
		background: url("../img/btnicon_arrow02.png") no-repeat center center;
		background-size: 34px auto;
	}
	/* CONTENTS COMMON */
	.contentshead {
		margin: 0 0 60px 0;
	}
	.contentshead h2 {
		color: #00BBE0;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.2em;
		margin: 0 0 30px 0;
	}
	.contentshead .titlehead {
		font-size: 22px;
		font-weight: bold;
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.03em;
		margin: 0 0 5px 0;
	}
	.contentshead .title {
		font-size: 40px;
		font-weight: bold;
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.03em;
		margin: 0 0 25px 0;
	}
	.contentshead .lead {
		font-size: 18px;
		text-align: center;
		line-height: 2;
	}
	/* INTRO */
	#introduction {
		background: #F0F3F5;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#introduction .contentsinner {
		width: 1000px;
		margin: 0 auto;
	}
	#introduction .contentsbody .pic {
		margin: 0 0 60px 0;
	}
	#introduction .column {
		background: #fff;
		padding: 60px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	#introduction .columninner {
		display: flex;
		justify-content: space-between;
	}
	#introduction .column .textblock {
		width: 46%;
		padding: 20px 0;
	}
	#introduction .column .textblock h3 {
		color: #00BBE0;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0.03em;
		margin: 0 0 20px 0;
	}
	#introduction .column .textblock .text {
		font-size: 16px;
		line-height: 2;
	}
	#introduction .column .pic {
		width: 45%;
		margin: 0;
	}
	/* CASESTUDY */
	#casestudy {
		background: #fff;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#casestudy .contentsinner {
		width: 1000px;
		margin: 0 auto;
	}
	#casestudy .studylist {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#casestudy .studylist .case {
		width: 48%;
		padding: 60px 40px;
		border-bottom: 1px solid #999;
		position: relative;
	}
	#casestudy .studylist .case:nth-child(odd)::after {
		content: '';
		position: absolute;
		top: 5%;
		right: -4.5%;
		height: 90%;
		width: 1px;
		background: #999;
	}
	#casestudy .studylist .case:last-child {
		border-bottom: none;
	}
	#casestudy .studylist .case:nth-last-child(2) {
		border-bottom: none;
	}
	#casestudy .studylist .labelwrapper {
		margin: -25px 0 -10px -25px;
	}
	#casestudy .studylist .labelwrapper .label {
		display: inline-block;
		padding: 10px 10px 10px 15px;
		border-radius: 5px;
		color: #fff;
		letter-spacing: 0.3em;
		background: #00BBE0;
		font-size: 20px;
	}
	#casestudy .studylist .pic {
		width: 400px;
		margin: 0 auto 20px auto;
	}
	#casestudy .studylist .casetitle {
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.1em;
		margin: 0 0 20px 0;
	}
	#casestudy .studylist .text {
		font-size: 16px;
		text-align: center;
		line-height: 2;
	}
	/* FOLLOWUP */
	#followup {
		background: url("../img/follow_bg_pc.jpg") no-repeat center center;
		background-size: cover;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#followup .contentshead {
		width: 1000px;
		margin: 0 auto 100px auto;
	}
	#followup .contentshead h2 {
		color: #fff;
	}
	#followup .contentshead .title {
		color: #fff;
	}
	#followup .contentshead .lead {
		color: #fff;
	}
	#followup .followlistwrapper {
		background-color: rgba(255, 255, 255, 0.5);
		min-width: 1000px;
		padding: 140px 0 80px 0;
		margin: 0 0 100px 0;
	}
	#followup .followlistwrapper .followlist {
		width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	#followup .followlist .follow {
		width: 156px;
		text-align: center;
		position: relative;
	}
	#followup .followlist .follow::after {
		content: '';
		position: absolute;
		top: 64px;
		right: -38px;
		width: 16px;
		height: 16px;
		background: url("../img/follow_arrow.png") no-repeat center center;
		background-size: contain;
	}
	#followup .followlist .follow:last-child::after {
		content: none;
	}
	/*#followup .followlist .follow.follow03::before {
		content: '';
		position: absolute;
		top: -72px;
		left: -131px;
		width: 203px;
		height: 46px;
		background: url("../img/follow_text01.png") no-repeat center center;
		background-size: contain;
	}*/
	#followup .followlist .follow .pic {
		margin: 0 0 20px 0;
	}
	#followup .followlist .follow .text {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		line-height: 1.6;
	}
	#followup .followlist .follow .note {
		font-size: 12px;
	}
	#followup .followbtn {
		width: 780px;
		max-width: 1300px;
		margin: 80px auto 0 auto;
		text-align: center;
	}
	#followup .followbtn .btntext {
		color: #fff;
	}
	/* FEATURE */
	#feature {
		background: #fff;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#feature .contentsinner {
		min-width: 1000px;
		margin: 0 auto;
	}
	#feature .movie {
		width: 1000px;
		margin: 0 auto 140px auto;
		position: relative;
	}
	#feature .movie .thumb {
		width: 100%;
		aspect-ratio: 16 / 9;
	}
	#feature .movie .thumb iframe {
		width: 100%;
		height: 100%;
	}
	#feature .movie .play {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -70px 0 0 -70px;
		width: 140px;
		height: 140px;
		cursor: pointer;
	}
	#feature .pointlist {
		max-width: 1200px;
		min-width: 1000px;
		margin: 0 auto;
	}
	#feature .pointlist .point {
		margin: 0 0 40px 0;
	}
	#feature .pointlist .point:last-child {
		margin: 0;
	}
	#feature .pointlist .pointbox {
		display: flex;
	}
	#feature .pointlist .textbox {
		width: 60%;
		display: flex;
	}
	#feature .pointlist .textbox .num {
		width: 10%;
	}
	#feature .pointlist .textbox .textset {
		width: 90%;
		padding: 35px 40px 0 10px;
	}
	#feature .pointlist .textbox h3 {
		font-weight: bold;
		font-size: 32px;
		letter-spacing: 0.1em;
		margin: 0 0 20px 0;
	}
	#feature .pointlist .textbox .label {
		font-weight: normal;
		vertical-align: middle;
		display: inline-block;
		padding: 8px 12px 8px 15px;
		border-radius: 5px;
		color: #fff;
		background: #00BBE0;
		font-size: 16px;
		margin: -5px 0 0 20px;
	}
	#feature .pointlist .textbox .text {
		font-size: 16px;
		line-height: 2;
	}
	#feature .pointlist .pic {
		overflow: hidden;
		width: 40%;
		position: relative;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
	}
	#feature .pointlist .pic .picinner {
		display: block;
	}
	/* HINT */
	#hint {
		background: #00BBE0;
		min-width: 1000px;
		padding: 80px 0 80px 0;
	}
	#hint .contentsinner {
		max-width: 1500px;
		min-width: 1000px;
		margin: 0 auto;
		background: #fff;
		padding: 110px 0 60px 0;
		border-radius: 10px;
	}
	#hint .contentsbody {
		max-width: 1200px;
		min-width: 1000px;
		margin: 0 auto;
	}
	#hint .wplist {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#hint .wplist .wp {
		width: 48%;
		padding: 60px;
		background: #F0F3F5;
		border-radius: 10px;
		margin: 0 0 50px 0;
		position: relative;
	}
	#hint .wplist .wp .date {
		vertical-align: middle;
		display: inline-block;
		padding: 12px 18px;
		border-radius: 5px;
		color: #fff;
		background: #00BBE0;
		font-size: 16px;
		font-weight: bold;
		position: absolute;
		top: -20px;
		left: 0;
	}
	#hint .wplist .wp .pic {
		width: 315px;
		margin: 0 auto;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	#hint .wplist .wp .textbox {
		margin: 40px 0 0 0;
	}
	#hint .wplist .wp .textbox h3 {
		font-size: 20px;
		letter-spacing: 0.1em;
		font-weight: bold;
		line-height: 1.6;
		margin: 0 0 15px 0;
	}
	#hint .wplist .wp .textbox .text {
		font-size: 16px;
		line-height: 2;
	}
	#hint .wpbtn {
		width: 300px;
		margin: 40px auto 0 auto;
	}
	#hint .wpbtn .btntext {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		font-size: 14px;
		letter-spacing: 0.1em;
		padding: 0;
		margin: 0 0 10px 0;
	}
	#hint .wpbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #000;
		background: #fff;
		letter-spacing: 0.1em;
		font-size: 18px;
		padding: 25px 25px 25px 40px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#hint .wpbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 34px;
		height: 34px;
		background: url("../img/btnicon_arrow01.png") no-repeat center center;
		background-size: 34px auto;
	}
	/* FAQ */
	#faq {
		background: #fff;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#faq .contentsinner {
		width: 1000px;
		margin: 0 auto;
	}
	#faq .faqlist .faqbox {
		margin: 0 0 40px 0;
	}
	#faq .qbox {
		background: #F0F3F5;
		border-radius: 10px 10px 0 0;
		padding: 15px 30px 20px 30px;
		margin: 0 0 10px 0;
		display: flex;
	}
	#faq .abox {
		border-left: 3px solid #F0F3F5;
		border-right: 3px solid #F0F3F5;
		border-bottom: 3px solid #F0F3F5;
		border-radius: 0 0 10px 10px;
		padding: 10px 30px 20px 30px;
		display: flex;
	}
	#faq .qlabel {
		display: block;
		margin: 0 20px 0 0;
		font-size: 30px;
		font-weight: bold;
		color: #00BBE0;
	}
	#faq .qtext {
		display: block;
		font-size: 22px;
		line-height: 1.6;
		font-weight: bold;
	}
	#faq .alabel {
		display: block;
		margin: 0 20px 0 0;
		font-size: 30px;
		font-weight: bold;
		color: #00BBE0;
	}
	#faq .atext {
		display: block;
		font-size: 18px;
		line-height: 2;
	}
	/* SUPPORT */
	#support {
		background: #F0F3F5;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#support .contentsinner {
		width: 1000px;
		margin: 0 auto;
	}
	#support .supportlist {
		display: flex;
		justify-content: space-between;
	}
	#support .supportbox {
		width: 320px;
	}
	#support .supportbox .pic {
		width: 240px;
		margin: 0 auto;
	}
	#support .supportbtn {
		width: 320px;
		margin: 40px auto 0 auto;
	}
	#support .supportbtn .btntext01 {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		font-size: 16px;
		padding: 0;
		margin: 0 0 10px 0;
	}
	#support .supportbtn .btntext02 {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 16px;
		padding: 0;
		line-height: 1.6;
		margin: 15px 0 0 0;
	}
	#support .supportbtn a {
		display: block;
		width: 90%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #000;
		background: #fff;
		letter-spacing: 0.1em;
		font-size: 18px;
		padding: 25px 25px 25px 40px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#support .supportbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 34px;
		height: 34px;
		background: url("../img/btnicon_arrow01.png") no-repeat center center;
		background-size: 34px auto;
	}
	#support .support03 .supportbtn {
		margin: 13px auto 0 auto;
	}
	#support .support03 .supportbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.1em;
		background: #00BBE0;
		font-size: 18px;
		padding: 25px 25px 25px 40px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#support .support03 .supportbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 34px;
		height: 34px;
		background: url("../img/btnicon_arrow02.png") no-repeat center center;
		background-size: 34px auto;
	}
	/* DEVELOPMENT */
	#development {
		background: #fff;
		min-width: 1000px;
		padding: 110px 0 100px 0;
	}
	#development .contentsinner {
		min-width: 1000px;
		margin: 0 auto;
	}
	#development .devwrapper {
		min-width: 1000px;
		background: url("../img/dev_bg_pc.jpg") no-repeat center center;
		background-size: cover;
	}
	#development .devbox {
		width: 1000px;
		margin: 0 auto;
		padding: 80px;
		color: #fff;
	}
	#development .devbox .devlogo {
		width: 105px;
		margin: 0 auto 40px auto;
	}
	#development .devbox h3 {
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 0.1em;
		margin: 0 auto 25px auto;
		width: 940px;
	}
	#development .devbox .text {
		text-align: center;
		font-size: 18px;
		line-height: 2;
	}
	#development .devbtn {
		width: 300px;
		margin: 80px auto 0 auto;
	}
	#development .devbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.1em;
		background: #0C84D8;
		font-size: 18px;
		padding: 25px 25px 25px 40px;
		border: 2px solid #0C84D8;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#development .devbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 34px;
		height: 34px;
		background: url("../img/btnicon_arrow03.png") no-repeat center center;
		background-size: 34px auto;
	}
	#development .devpicbox {
		padding: 100px 0;
		width: 1000px;
		margin: 0 auto;
	}
	#development .piclist {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	#development .piclist .devpic {
		width: 48%;
		margin: 0 0 40px 0;
	}
	#development .piclist .label {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
	#development .devco {
		min-width: 1000px;
	}
	#development .devco .colabel {
		min-width: 1000px;
		background: #f3f3f3;
		padding: 15px;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		margin: 0 0 60px 0;
	}
	#development .colist {
		max-width: 1200px;
		min-width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	#development .colist .co {
		width: 11%;
	}
	#development .colist .co.co01 {
		width: 18%;
	}
	#development .colist .co.co04 {
		width: 18%;
	}
	/* FOOTER */
	
	/* SITEMAP */
	#sitemap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #00BBE0;
		overflow: hidden;
		z-index: 99;
		display: none;
	}
	#sitemap .sitemapinner {
		height: 100%;
		padding: 80px 0 0 0;
		position: relative;
	}
	#sitemap .btn_close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 60px;
		height: 60px;
		font-size: 9px;
	}
	#sitemap .btn_close a {
		color: #fff;
		display: block;
		text-align: center;
		padding: 50px 0 0 0;
		position: relative;
		cursor: pointer;
	}
	#sitemap .btn_close a::after {
		content: '';
		position: absolute;
		width: 90%;
		top: 0;
		left: 5%;
		height: 100%;
		overflow: hidden;
		background: url("../img/navbtn_close.png") no-repeat 0 0;
		background-size: contain;
	}
	#sitemap .sitemapbody {
		width: 720px;
		margin: 0 auto;
		padding: 0 0 20px 0;
	}
	#sitemap .sitemaplist {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	#sitemap .sitemaplist li {
		width: 300px;
		margin: 0 0 20px 0;
		padding: 0;
	}
	#sitemap .sitemaplist .btntext {
		display: block;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		margin: 0 0 5px 0;
		color: #fff;
	}
	#sitemap .sitemaplist a {
		display: block;
		background: #fff;
		color: #00BBE0;
		text-align: center;
		letter-spacing: 0.1em;
		font-size: 14px;
		font-weight: bold;
		padding: 15px 20px;
		border-radius: 30px;
		position: relative;
	}
	#sitemap .sitemaplist a::after {
		content: '';
		display: block;
		position: absolute;
		top: 16px;
		left: 20px;
		width: 12px;
		height: 12px;
		background: url("../img/headlink_arrow.png") no-repeat left center;
		background-size: 12px auto;
	}
	#sitemap .sitemapfoot {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 40px 0 80px 0;
	}
	#sitemap .sitemapfoot .sitemapbtn {
		width: 800px;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	#sitemap .sitemapfoot .sitemapbtn .btnset {
		display: flex;
		justify-content: space-between
	}
	#sitemap .sitemapfoot .sitemapfootnav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 20px 40px;
		border-bottom: 1px solid #000;
	}
	#sitemap .sitemapfoot .sitemapfootnav .footnavset {
		display: flex;
		justify-content: flex-end;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist {
		display: flex;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list01 {
		margin: 0 30px 0 0;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list01 li {
		margin: 0 20px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist .nav0101 {
		width: 44px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist .nav0102 {
		width: 58px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list02 {
		padding: 5px 0;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list02 li {
		padding: 0 15px 0 0;
		margin: 0 15px 0 0;
		border-right: 1px solid #000;
		font-size: 12px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list02 li:last-child {
		border: none;
		margin: 0;
		padding: 0;
	}
	/* DOWNLOAD */
	#download {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 99;
		background-color: transparent;
		display: none;
	}
	#download .downloadbox {
		position: absolute;
		top: 5vh;
		left: 50%;
		width: 700px;
		margin: 0 0 0 -350px;
		padding: 70px 0 0 0;
		background: #fff;
		border: 1px solid #00BBE0;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	#download .btn_close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 60px;
		height: 60px;
	}
	#download .btn_close a {
		width: 60px;
		height: 0;
		font-size: 9px;
		display: block;
		text-align: center;
		padding: 60px 0 0 0;
		overflow: hidden;
		cursor: pointer;
		background: url("../img/navbtn_close_b.png") no-repeat 0 0;
		background-size: contain;
		z-index: 10;
	}
	#download h2 {
		font-weight: bold;
		text-align: center;
		font-size: 24px;
		color: #00BBE0;
		margin: 0 0 60px 0;
		padding: 0;
	}
	#download .dlbtn01 {
		width: 500px;
		margin: 0 auto 40px auto;
		padding: 0 0 40px 0;
		border-bottom: 1px solid #00BBE0;
	}
	#download .btnset {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	#download .dlbtn01 .btnbox {
		width: 210px;
		text-align: center;
	}
	#download .btnbox .btntext {
		margin: 0 0 15px 0;
		font-size: 12px;
		font-weight: bold;
	}
	#download .dlbtn01 .btnbox a {
		display: block;
		background: #00BBE0;
		color: #fff;
		letter-spacing: 0.1em;
		font-size: 16px;
		padding: 15px 40px 15px 30px;
		text-decoration: none;
		position: relative;
	}
	#download .dlbtn01 .btnbox a::after {
		content: '';
		width: 40px;
		height: 40px;
		position: absolute;
		top: 6px;
		right: 8%;
		background: url("../img/icon_download.png") no-repeat center center;
		background-size: contain;
	}
	#download .dlbtn02 {
		width: 480px;
		margin: 0 auto 20px auto;
	}
	#download .dlbtn02 .btn01 {
		width: 164px;
		text-align: center;
	}
	#download .dlbtn02 .btn02 {
		width: 208px;
		text-align: center;
	}
	#download .dlbtn02 .note {
		font-size: 12px;
	}
	#download .downloadfoot {
		background: #F0F3F5;
		padding: 35px 40px 40px 40px;
		text-align: center;
	}
	#download .downloadfoot .label {
		font-size: 16px;
		font-weight: bold;
		color: #00BBE0;
		margin: 0 0 10px 0;
	}
	#download .downloadfoot .btnbox {
		width: 280px;
		margin: 0 auto;
	}
	#download .downloadfoot .btnbox a {
		display: block;
		background: #00BBE0;
		letter-spacing: 0.1em;
		color: #fff;
		font-size: 16px;
		padding: 10px 40px;
		border-radius: 25px;
	}
	/* AICHAT */
	#chatbtn {
		position: fixed;
		bottom: 30px;
		right: 30px;
		z-index: 30;
		width: 210px;
		height: 200px;
	}
	#chatbtn .chatbtnbox {
		cursor: pointer;
	}
	#chatbtn .chatbtnwindow {
		width: 190px;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		padding: 10px 20px;
		font-size: 12px;
		font-weight: bold;
		line-height: 2;
		border-radius: 10px;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	}
	#chatbtn .chatbtnwindow::after {
		content: '';
		position: absolute;
		bottom: -26px;
		left: 50%;
		background: url("../img/chat_serif.png") no-repeat center bottom;
		background-size: contain;
		margin: 0 0 0 -23px;
		width: 46px;
		height: 26px;
	}
	#chatbtn .chara {
		position: absolute;
		bottom: 0;
		right: 10px;
		width: 102px;
		height: auto;
		z-index: 3;
		transition: right 0.25s;
	}
	#chatbtn .chara canvas {
		width: 128px;
	}
	#chatbtn .chara.open {
		right: -15px;
	}
	#chatbtn .chara .sp {
		display: none;
	}
	#chatbtn .btnclose {
		position: absolute;
		top: -10px;
		right: 10px;
		width: 20px;
		height: 0;
		padding: 20px 0 0 0;
		background: url("../img/chat_close.png") no-repeat center center;
		background-size: contain;
		overflow: hidden;
		cursor: pointer;
		z-index: 5;
	}
	#chatwindow {
		display: none;
		position: fixed;
		bottom: 30px;
		right: 30px;
		z-index: 35;
		width: 480px;
		margin-right: 70px;
		background: #fff;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	}
	#chatwindow .loghead {
		background: #EB3155;
		text-align: center;
		color: #fff;
		padding: 10px 20px;
	}
	#chatwindow .logtitle {
		font-size: 16px;
		font-weight: bold;
	}
	#chatwindow #chatclose {
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 0;
		padding: 36px 0 0 0;
		background: url("../img/chatwindow_close.png") no-repeat center center;
		background-size: 20px auto;
		overflow: hidden;
		cursor: pointer;
	}
	#chatwindow .logbody {
		background: #F0F3F5;
		padding: 20px;
		position: relative;
		min-height: 120px;
		max-height: 320px;
		overflow-y: scroll;
	}
	#chatwindow .logtext p {
		background: #fff;
		padding: 15px 20px;
		border-radius: 10px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 2;
		position: relative;
	}
	#chatwindow .logtext p:last-child {
		margin-bottom: 0;
	}
	#chatwindow .logbody p.call {
		background: none;
		padding: 5px 20px;
		text-align: center;
	}
	#chatwindow .logbody p.ans {
		margin-left: 60px;
	}
	#chatwindow .logbody p.ans::after {
		content: '';
		width: 65px;
		height: 65px;
		position: absolute;
		top: 0;
		left: -70px;
		background: url("../img/chatwindow_chara.png") no-repeat center center;
		background-size: contain;
	}
	#chatwindow .chatarea {
		background: #fff;
		padding: 10px;
		min-height: 80px;
	}
	#chatwindow .chatarea input {
		border: none;
		width: 100%;
		height: 40px;
		padding: 10px;
	}
	#chatwindow .chatbutton {
		margin: 5px 0 0 0;
		text-align: right;
	}
	#chatwindow .chatarea button {
		border: 2px solid #EB3155;
		padding: 3px 8px 3px 15px;
		font-size: 12px;
		font-weight: bold;
		color: #EB3155;
		background: #fff;
		border-radius: 5px;
		cursor: pointer;
		letter-spacing: 0.5em;
	}
	/* 日英切り替えPC */
	#head01 .translation_pc {
		display: flex;
		justify-content: space-between;
		position: relative;
		top: -8px;
	}
	#head01 .translation_pc a {
		position: relative;
		display: inline-block;
		font-size: 12px;
		margin: 0 2px;
		padding: 8px;
		color: #999;
		cursor: pointer;
		z-index: 1;
	}
	#head01 .translation_pc a::after {
		content: '';
		position: absolute;
		top: -1px;
		left: 0;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		z-index: -1;
	}
	#head01 .translation_pc a.lang_en::after {
		left: 1px;
	}
	#head01 .translation_pc a:hover {
		color: #fff;
	}
	#head01 .translation_pc a:hover::after {
		background: #ccc;
	}
	#head01 .translation_pc a.active {
		color: #fff;
	}
	#head01 .translation_pc a.active:hover {
		color: #fff;
	}
	#head01 .translation_pc a.active::after {
		background: #888;
	}
	/* /日英切り替えPC */

}
@media screen and (max-width:1500px) {
	#footer .footlogo {
		width: 340px;
	}
	#footer .footinner {
		padding: 20px 20px 60px 20px;
	}
	#footer .footnav01 {
		top: 30px;
		bottom: 0;
		left: auto;
		right: 0;
	}
}
#feature .pointlist .pic span {
	display: block;
}
#feature .pointlist .pic .slide02 {
	position: absolute;
	top: 0;
	left: 0;
}
#feature .pointlist .pic.slidepic .slide.slide02 img {
	animation: image-slide 8s infinite;
	opacity: 0;
}
@keyframes image-slide {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	51% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
/* SP */
@media screen and (max-width:767px) {
	/* HEADER */
	#head01 {
		background: #fff;
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
		padding: 10px 20px;
		margin: 0 auto;
		position: relative;
	}
	#head01 .headlogo {
		width: 180px;
	}
	#head01 .head01nav {
		width: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		font-size: 14px;
		font-weight: bold;
		background: #fff;
		text-align: center;
		display: none;
		z-index: 12;
	}
	#head01 .head01nav li {
		margin: 0 0 2% 0;
	}
		#head01 .head01nav li:last-child {
		margin: 0;
	}
	#head01 .head01nav li a {
		display: block;
		padding: 15px;
	}
	#head01 .head01btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		text-align: center;
		font-weight: bold;
		background-color: transparent;
		font-size: 10px;
	}
	#head01 .head01btn a {
		display: block;
		cursor: pointer;
		color: #000;
		padding: 50px 0 0 0;
		height: 0;
		overflow: hidden;
		background: url("../img/nav01_btn.png") no-repeat center center;
		background-size: 50px auto;
	}
		#head01 .head01btn a.open {
		background: url("../img/navbtn_close_bk.png") no-repeat center center;
		background-size: 50px auto;
	}
	#head02 {
		width: 100%;
		height: 70px;
		position: fixed;
		top: 50px;
		left: 0;
		z-index: 10;
	}
	#head02 .head02nav {
		position: absolute;
		top: 25px;
		right: 80px;
	}
	#head02 .nav0201 a {
		display: block;
		font-size: 12px;
		font-weight: bold;
		color: #000;
		background: url("../img/headlink_arrow.png") no-repeat left center;
		background-size: 11px auto;
		padding: 0 0 0 16px;
	}
	#head02 .navbtn0201 {
		display: none;
	}
	#head02 .navbtn0202 {
		display: none;
	}
	#head02 .head02btn {
		position: absolute;
		top: 0;
		right: 5px;
		width: 50px;
		text-align: center;
		font-weight: bold;
		background-color: transparent;
		font-size: 10px;
	}
	#head02 .head02btn a {
		display: block;
		cursor: pointer;
		color: #00BBE0;
		padding: 50px 0 5px 0;
		background: url("../img/nav02_btn.png") no-repeat center center;
		background-size: 50px auto;
	}
	#head02.is-fixed {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);
	}
	/* MV */
	#mv .mvinner {
		padding: 60px 0 0 0;
		position: relative;
	}
	#mv .mvinner .mvtext .mvtext01 {
		color: #00BBE0;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		margin: 0 5% 3% 5%;
	}
	#mv .mvinner .mvtext .mvtext02 {
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		line-height: 1.8;
		margin: 0 5% 5% 5%;
	}
	#mv .mvinner .mvtext .mvlogo {
		width: 70%;
		margin: 0 auto 5% auto;
	}
	#mv .mvinner .mvtext .mvtext03 {
		font-size: 12px;
		line-height: 2;
		margin: 0 5% 5% 5%;
	}
	#mv .mvinner .mvpic {
		width: 90%;
		margin: -5% auto 0 auto;
	}
	#mv .mvbtn {
		width: 70%;
		margin: 5% auto 10% auto;
		text-align: center;
	}
	#mv .mvbtn .btn01 {
		margin: 0 0 8% 0;
	}
	/* CPBTN */
	.cpbtn .btnbox {
		width: 100%;
	}
	.cpbtn .btntext {
		display: block;
		width: 100%;
		text-align: center;
		color: #00BBE0;
		font-size: 11px;
		padding: 0;
		margin: 0 0 2% 0;
	}
	.cpbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #000;
		background: #fff;
		font-size: 14px;
		padding: 15px 15px 15px 30px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	.cpbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: url("../img/btnicon_arrow01.png") no-repeat center center;
		background-size: 20px auto;
	}
	.cpbtn .btn02 a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.1em;
		background: #00BBE0;
		font-size: 14px;
		padding: 15px 15px 15px 30px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	.cpbtn .btn02 a::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: url("../img/btnicon_arrow02.png") no-repeat center center;
		background-size: 20px auto;
	}
	/* CONTENTS COMMON */
	.contentshead {
		margin: 0 5% 10% 5%;
	}
	.contentshead h2 {
		color: #00BBE0;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.2em;
		margin: 0 0 5% 0;
	}
	.contentshead .titlehead {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.05em;
		margin: 0 0 3% 0;
	}
	.contentshead .title {
		font-size: 22px;
		font-weight: bold;
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.03em;
		margin: 0 0 5% 0;
	}
	.contentshead .lead {
		font-size: 14px;
		text-align: center;
		line-height: 2;
	}
	/* INTRO */
	#introduction {
		background: #F0F3F5;
		padding: 12% 0 12% 0;
	}
	#introduction .contentsinner {
		margin: 0 auto;
	}
	#introduction .contentsbody .pic {
		margin: 0 0 8% 0;
	}
	#introduction .column {
		background: #fff;
		margin: 0 5%;
		padding: 8%;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	#introduction .column .textblock h3 {
		color: #00BBE0;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.1em;
		margin: 0 0 3% 0;
	}
	#introduction .column .textblock .text {
		font-size: 14px;
		line-height: 2;
		margin: 0 0 5% 0;
	}
	#introduction .column .pic {
		width: 100%;
		margin: 0 auto;
	}
	/* CASESTUDY */
	#casestudy {
		background: #fff;
		padding: 12% 0 12% 0;
	}
	#casestudy .studylist {
		margin: 0 10%;
	}
	#casestudy .studylist .case {
		padding: 8%;
		border-bottom: 1px solid #999;
		position: relative;
		margin: 0 0 5% 0;
	}
	#casestudy .studylist .case:last-child {
		border-bottom: none;
	}
	#casestudy .studylist .labelwrapper .label {
		display: inline-block;
		padding: 8px 10px 8px 16px;
		border-radius: 5px;
		margin: -5% 0 0 -5%;
		color: #fff;
		letter-spacing: 0.5em;
		background: #00BBE0;
		font-size: 14px;
	}
	#casestudy .studylist .pic {
		width: 100%;
		margin: 0 auto 5% auto;
	}
	#casestudy .studylist .casetitle {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.1em;
		margin: 0 0 5% 0;
	}
	#casestudy .studylist .text {
		font-size: 14px;
		text-align: center;
		line-height: 1.6;
	}
	/* FOLLOWUP */
	#followup {
		background: url("../img/follow_bg_sp.jpg") no-repeat center center;
		background-size: cover;
		padding: 12% 0 12% 0;
	}
	#followup .contentshead {
		margin: 0 5% 10% 5%;
	}
	#followup .contentshead h2 {
		color: #fff;
	}
	#followup .contentshead .title {
		color: #fff;
	}
	#followup .contentshead .lead {
		color: #fff;
	}
	#followup .followlistwrapper {
		background-color: rgba(255, 255, 255, 0.5);
		padding: 10% 5% 10% 5%;
		margin: 0 0 10% 0;
	}
	#followup .followlistwrapper .followwrap {
		overflow-x: scroll;
	}
	#followup .followlistwrapper .followlist {
		padding: 12% 0 5% 0;
		width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}
	#followup .followlist .follow {
		width: 16%;
		margin: 0 2%;
		text-align: center;
		position: relative;
	}
	#followup .followlist .follow .pic::after {
		content: '';
		position: absolute;
		top: 43%;
		right: -19%;
		width: 12px;
		height: 12px;
		background: url("../img/follow_arrow.png") no-repeat center center;
		background-size: contain;
	}
	#followup .followlist .follow .pic {
		margin: 0 0 5% 0;
		position: relative;
	}
	#followup .followlist .follow.follow05 .pic::after {
		content: none;
	}
	/*#followup .followlist .follow.follow03 .pic::before {
		content: '';
		position: absolute;
		top: -34%;
		left: -73%;
		width: 140px;
		height: 38px;
		background: url("../img/follow_text01.png") no-repeat center center;
		background-size: contain;
	}*/
	#followup .followlist .follow .text {
		font-size: 11px;
		font-weight: bold;
		text-align: center;
		line-height: 1.6;
	}
	#followup .followlist .follow .note {
		font-size: 10px;
	}
	#followup .followbtn {
		width: 70%;
		margin: 8% auto 0 auto;
		text-align: center;
	}
	#followup .followbtn .btntext {
		color: #fff;
	}
	#followup .followbtn .btn01 {
		margin: 0 0 8% 0;
	}
	/* FEATURE */
	#feature {
		background: #fff;
		padding: 12% 0 12% 0;
	}
	#feature .movie {
		width: 90%;
		margin: 0 auto 10% auto;
		position: relative;
	}
	#feature .movie .thumb {
		width: 100%;
		aspect-ratio: 16 / 9;
	}
	#feature .movie .thumb iframe {
		width: 100%;
		height: 100%;
	}
	#feature .movie .play {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
		width: 80px;
		height: 80px;
		cursor: pointer;
	}
	#feature .pointlist {
		margin: 0 5%;
	}
	#feature .pointlist .point {
		margin: 0 0 8% 0;
	}
	#feature .pointlist .textbox {
		display: flex;
	}
	#feature .pointlist .textbox .num {
		width: 15%;
	}
	#feature .pointlist .textbox .textset {
		width: 85%;
		padding: 7% 0 0 0;
	}
	#feature .pointlist .textbox h3 {
		font-weight: bold;
		font-size: 20px;
		line-height: 1.4;
		margin: 0 0 5% 0;
	}
	#feature .pointlist .textbox .label {
		vertical-align: middle;
		display: inline-block;
		padding: 5px 8px 5px 12px;
		border-radius: 5px;
		color: #fff;
		background: #00BBE0;
		font-size: 14px;
		letter-spacing: 0.1em;
		font-weight: normal;
		margin: -3px 0 0 10px;
	}
	#feature .pointlist .textbox .text {
		font-size: 14px;
		line-height: 2;
	}
	#feature .pointlist .pic {
		width: 100%;
		margin: 5% auto 0 auto;
		position: relative;
		overflow: hidden;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
	}
	#feature .pointlist .pic .picinner {
		display: block;
	}
	/* HINT */
	#hint {
		background: #00BBE0;
		padding: 12% 5% 12% 5%;
	}
	#hint .contentsinner {
		background: #fff;
		padding: 10% 0 5% 0;
	}
	#hint .contentsbody {
		margin: 0 auto;
	}
	#hint .wplist {
		margin: 0 5%;
	}
	#hint .wplist .wp {
		padding: 10% 8%;
		background: #F0F3F5;
		border-radius: 10px;
		margin: 0 0 8% 0;
		position: relative;
	}
	#hint .wplist .wp .date {
		vertical-align: middle;
		display: inline-block;
		padding: 5px 10px;
		border-radius: 5px;
		color: #fff;
		background: #00BBE0;
		font-size: 12px;
		font-weight: bold;
		position: absolute;
		top: -10px;
		left: 0;
	}
	#hint .wplist .wp .pic {
		width: 60%;
		margin: 0 auto;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	#hint .wplist .wp .textbox {
		margin: 5% 0 0 0;
	}
	#hint .wplist .wp .textbox h3 {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.6;
		margin: 0 0 3% 0;
	}
	#hint .wplist .wp .textbox .text {
		font-size: 14px;
		line-height: 2;
	}
	#hint .wpbtn {
		width: 90%;
		margin: 5% auto 0 auto;
	}
	#hint .wpbtn .btntext {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		font-size: 12px;
		padding: 0;
		margin: 0 0 3% 0;
	}
	#hint .wpbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #000;
		letter-spacing: 0.1em;
		background: #fff;
		font-size: 14px;
		padding: 15px 15px 15px 30px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#hint .wpbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: url("../img/btnicon_arrow01.png") no-repeat center center;
		background-size: 20px auto;
	}
	/* FAQ */
	#faq {
		background: #fff;
		padding: 12% 0 12% 0;
	}
	#faq .faqlist .faqbox {
		margin: 0 5% 5% 5%;
	}
	#faq .qbox {
		background: #F0F3F5;
		border-radius: 10px 10px 0 0;
		padding: 5%;
		margin: 0 0 5px 0;
		display: flex;
	}
	#faq .abox {
		border-left: 3px solid #F0F3F5;
		border-right: 3px solid #F0F3F5;
		border-bottom: 3px solid #F0F3F5;
		border-radius: 0 0 10px 10px;
		padding: 5%;
		display: flex;
	}
	#faq .qlabel {
		display: block;
		margin: 0 15px 0 0;
		font-size: 24px;
		font-weight: bold;
		color: #00BBE0;
	}
	#faq .qtext {
		display: block;
		font-size: 18px;
		line-height: 1.6;
		font-weight: bold;
	}
	#faq .alabel {
		display: block;
		margin: 0 15px 0 0;
		font-size: 24px;
		font-weight: bold;
		color: #00BBE0;
	}
	#faq .atext {
		display: block;
		font-size: 14px;
		line-height: 2;
	}
	/* SUPPORT */
	#support {
		background: #F0F3F5;
		padding: 12% 0 12% 0;
	}
	#support .supportlist {
		margin: 0 5%;
	}
	#support .supportbox {
		width: 100%;
		margin: 0 0 8% 0;
	}
	#support .supportbox .pic {
		width: 60%;
		margin: 0 auto;
	}
	#support .supportbtn {
		width: 70%;
		margin: 0 auto;
	}
	#support .supportbtn .btntext01 {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: #00BBE0;
		font-size: 14px;
		padding: 0;
		margin: 0 0 5% 0;
	}
	#support .supportbtn .btntext02 {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 14px;
		padding: 0;
		line-height: 1.6;
		margin: 5% 0 0 0;
	}
	#support .supportbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #000;
		background: #fff;
		letter-spacing: 0.1em;
		font-size: 14px;
		padding: 15px 15px 15px 30px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#support .supportbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: url("../img/btnicon_arrow01.png") no-repeat center center;
		background-size: 20px auto;
	}
	#support .support03 .supportbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.1em;
		background: #00BBE0;
		font-size: 14px;
		padding: 15px 15px 15px 30px;
		border: 2px solid #00BBE0;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#support .support03 .supportbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: url("../img/btnicon_arrow02.png") no-repeat center center;
		background-size: 20px auto;
	}
	/* DEVELOPMENT */
	#development {
		background: #fff;
		padding: 12% 0 12% 0;
	}
	#development .devwrapper {
		background: url("../img/dev_bg_sp.jpg") no-repeat center center;
		background-size: cover;
	}
	#development .devbox {
		margin: 0;
		padding: 8% 5%;
		color: #fff;
	}
	#development .devbox .devlogo {
		width: 30%;
		margin: 0 auto 5% auto;
	}
	#development .devbox h3 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 1.4;
		margin: 0 0 5% 0;
	}
	#development .devbox .text {
		text-align: center;
		font-size: 14px;
		line-height: 2;
	}
	#development .devbtn {
		width: 70%;
		margin: 8% auto 0 auto;
	}
	#development .devbtn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: center;
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.1em;
		background: #0C84D8;
		font-size: 14px;
		padding: 15px 15px 15px 30px;
		border: 2px solid #0C84D8;
		border-radius: 50px;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
		transition: 0.2s;
	}
	#development .devbtn a::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		left: 10px;
		width: 20px;
		height: 20px;
		background: url("../img/btnicon_arrow03.png") no-repeat center center;
		background-size: 20px auto;
	}
	#development .devpicbox {
		padding: 10% 0;
	}
	#development .piclist .devpic {
		margin: 0 0 5% 0;
	}
	#development .piclist .label {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
	#development .devco .colabel {
		background: #f3f3f3;
		padding: 3%;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 8% 0;
	}
	#development .colist {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	#development .colist .co {
		width: 20%;
		margin: 0 3%;
	}
	#development .colist .co.co01 {
		width: 32%;
	}
	#development .colist .co.co04 {
		width: 32%;
	}

	/* SITEMAP */
	#sitemap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #00BBE0;
		overflow: hidden;
		display: none;
		z-index: 99;
	}
	#sitemap .sitemapinner {
		height: 100%;
		padding: 40px 0 0 0;
		position: relative;
	}
	#sitemap .btn_close {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 60px;
		height: 60px;
		font-size: 9px;
		z-index: 10;
	}
	#sitemap .btn_close a {
		color: #fff;
		display: block;
		text-align: center;
		padding: 50px 0 0 0;
		position: relative;
		cursor: pointer;
	}
	#sitemap .btn_close a::after {
		content: '';
		position: absolute;
		width: 90%;
		top: 0;
		left: 5%;
		height: 100%;
		overflow: hidden;
		background: url("../img/navbtn_close.png") no-repeat 0 0;
		background-size: contain;
	}
	#sitemap .sitemapbody {
		margin: 0 8%;
		padding: 0 0 10% 0;
	}
	#sitemap .sitemaplist li {
		width: 100%;
		margin: 0 0 8% 0;
		padding: 0;
	}
	#sitemap .sitemaplist .btntext {
		display: none;
	}
	#sitemap .sitemaplist a {
		display: block;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		padding: 0 0 0 20px;
		letter-spacing: 0.1em;
		position: relative;
		background: url("../img/headlink_arrow_w.png") no-repeat left center;
		background-size: 12px auto;
	}
	#sitemap .sitemapfoot {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 8% 0 20% 0;
	}
	#sitemap .sitemapfoot .sitemapbtn {
		margin: 0 auto;
		width: 70%;
		text-align: center;
	}
	#sitemap .sitemapfoot .sitemapbtn .btn02 {
		margin: 8% 0 0 0;
	}
	#sitemap .sitemapfoot .sitemapfootnav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 5%;
		border-bottom: 1px solid #000;
	}
	#sitemap .sitemapfoot .sitemapfootnav .footnavset {
		display: flex;
		justify-content: flex-end;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist {
		display: flex;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list01 {
		margin: 0 10% 0 0;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list01 li {
		margin: 0 8%;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist .nav0101 {
		width: 36px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist .nav0102 {
		width: 48px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list02 {
		padding: 3px 0;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list02 li {
		padding: 0 10px 0 0;
		margin: 0 10px 0 0;
		border-right: 1px solid #000;
		font-size: 10px;
	}
	#sitemap .sitemapfoot .sitemapfootnav .navlist.list02 li:last-child {
		border: none;
		margin: 0;
		padding: 0;
	}
	/* DOWNLOAD */
	#download {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 99;
		background-color: transparent;
		display: none;
	}
	#download .downloadbox {
		position: absolute;
		top: 15%;
		left: 5%;
		width: 90%;
		margin: 0;
		padding: 60px 0 0 0;
		background: #fff;
		border: 1px solid #00BBE0;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	#download .btn_close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 50px;
		height: 50px;
	}
	#download .btn_close a {
		width: 50px;
		height: 0;
		font-size: 9px;
		display: block;
		text-align: center;
		padding: 50px 0 0 0;
		overflow: hidden;
		cursor: pointer;
		background: url("../img/navbtn_close_b.png") no-repeat 0 0;
		background-size: contain;
		z-index: 10;
	}
	#download h2 {
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		color: #00BBE0;
		margin: 0 0 8% 0;
		padding: 0;
	}
	#download .dlbtn01 {
		width: 90%;
		margin: 0 auto 8% auto;
		padding: 0 0 8% 0;
		border-bottom: 1px solid #00BBE0;
	}
	#download .btnset {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	#download .dlbtn01 .btnbox {
		width: 46%;
		text-align: center;
	}
	#download .btnbox .btntext {
		margin: 0 0 15px 0;
		font-size: 12px;
		font-weight: bold;
	}
	#download .dlbtn01 .btnbox a {
		display: block;
		background: #00BBE0;
		color: #fff;
		font-size: 12px;
		padding: 10px 30px 10px 20px;
		text-decoration: none;
		position: relative;
	}
	#download .dlbtn01 .btnbox a::after {
		content: '';
		width: 30px;
		height: 30px;
		position: absolute;
		top: 2px;
		right: 5%;
		background: url("../img/icon_download.png") no-repeat center center;
		background-size: contain;
	}
	#download .dlbtn02 {
		width: 90%;
		margin: 0 auto 8% auto;
	}
	#download .dlbtn02 .btn01 {
		width: 40%;
		text-align: center;
	}
	#download .dlbtn02 .btn02 {
		width: 50%;
		text-align: center;
	}
	#download .dlbtn02 .note {
		font-size: 12px;
	}
	#download .downloadfoot {
		background: #F0F3F5;
		padding: 8% 5% 8% 5%;
		text-align: center;
	}
	#download .downloadfoot .label {
		font-size: 16px;
		font-weight: bold;
		color: #00BBE0;
		margin: 0 0 5% 0;
	}
	#download .downloadfoot .btnbox {
		width: 90%;
		margin: 0 auto;
	}
	#download .downloadfoot .btnbox a {
		display: block;
		background: #00BBE0;
		color: #fff;
		font-size: 14px;
		padding: 10px 20px;
		border-radius: 25px;
	}
	/* AICHAT */
	#chatbtn {
		position: fixed;
		bottom: 20px;
		right: 5%;
		z-index: 30;
		width: 85%;
		height: 65px;
		background: #fff;
		border-radius: 35px;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	}
	#chatbtn .chatbtnbox {
		cursor: pointer;
	}
	#chatbtn .chatbtnwindow {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 8px 70px 8px 20px;
		font-size: 12px;
		font-weight: bold;
		line-height: 2;
	}
	#chatbtn .chara {
		position: absolute;
		top: 0;
		right: 10px;
		width: 60px;
		height: auto;
	}
	#chatbtn .chara canvas {
		display: none;
	}
	#chatbtn .chara .sp {
		display: block;
	}
	#chatbtn .btnclose {
		position: absolute;
		top: -10px;
		right: 10px;
		width: 20px;
		height: 0;
		padding: 20px 0 0 0;
		background: url("../img/chat_close.png") no-repeat center center;
		background-size: contain;
		overflow: hidden;
		cursor: pointer;
	}
	#chatwindow {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 5%;
		z-index: 35;
		width: 90%;
		background: #fff;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	}
	#chatwindow .loghead {
		background: #EB3155;
		text-align: center;
		color: #fff;
		padding: 10px 20px;
	}
	#chatwindow .logtitle {
		font-size: 14px;
		font-weight: bold;
	}
	#chatwindow #chatclose {
		position: absolute;
		top: 0;
		right: 0;
		width: 35px;
		height: 0;
		padding: 35px 0 0 0;
		background: url("../img/chatwindow_close.png") no-repeat center center;
		background-size: 20px auto;
		overflow: hidden;
		cursor: pointer;
	}
	#chatwindow .logbody {
		background: #F0F3F5;
		padding: 20px;
		position: relative;
		min-height: 120px;
		max-height: 320px;
		overflow-y: scroll;
	}
	#chatwindow .logtext p {
		background: #fff;
		padding: 10px 15px;
		border-radius: 10px;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 2;
		position: relative;
	}
	#chatwindow .logtext p:last-child {
		margin-bottom: 0;
	}
	#chatwindow .logbody p.call {
		background: none;
		padding: 3px 15px;
		text-align: center;
	}
	#chatwindow .logbody p.ans {
		margin-left: 50px;
	}
	#chatwindow .logbody p.ans::after {
		content: '';
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: -60px;
		background: url("../img/chatwindow_chara.png") no-repeat center center;
		background-size: contain;
	}
	#chatwindow .chatarea {
		background: #fff;
		padding: 10px;
		min-height: 80px;
	}
	#chatwindow .chatarea input {
		border: none;
		width: 100%;
		height: 40px;
		padding: 10px;
	}
	#chatwindow .chatbutton {
		margin: 3px 0 0 0;
		text-align: right;
	}
	#chatwindow .chatarea button {
		border: 2px solid #EB3155;
		padding: 3px 8px 3px 15px;
		font-size: 12px;
		font-weight: bold;
		color: #EB3155;
		background: #fff;
		border-radius: 5px;
		cursor: pointer;
		letter-spacing: 0.5em;
	}
	/* 日英切り替えSP */
	#head01 .translation_sp {
		position: absolute;
		top: 10px;
		right: 60px;
		display: flex;
		justify-content: flex-end;
		margin: 0 0 5% 0;
	}
	#head01 .translation_sp a {
		position: relative;
		display: inline-block;
		font-size: 12px;
		margin: 0 2px;
		padding: 8px;
		color: #999;
		cursor: pointer;
		z-index: 1;
		font-weight: bold;
	}
	#head01 .translation_sp a::after {
		content: '';
		position: absolute;
		top: -1px;
		left: 0;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		z-index: -1;
	}
	#head01 .translation_sp a.lang_en::after {
		left: 1px;
	}
	#head01 .translation_sp a.active {
		color: #fff;
	}
	#head01 .translation_sp a.active::after {
		background: #888;
	}
	/* /日英切り替えSP */


	#ailia_wrapper {
		margin-top: 60px;
	}
}